.section {
    width: 100%;
    height: 100%;
}
.card {
    margin: auto;
    display: flex;
    width: 40rem;
    height: 45rem;
    background-color: rgba(238, 230, 230, 0.452);
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    margin-top: 2rem;
    border-radius: 20px;
    padding: 5px;
    max-width: 50%;
    object-fit: fill;
}

.card:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
}

.card h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(59, 58, 58);
    font-size: 2rem;
    padding: 0.5px;
    margin: 3px;
}
.card a {
    margin: 0.2rem;
}
.card p {
    width: 80%;
    background-color: rgba(221, 212, 212, 0.452);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.1rem;
    font-family: 'Fira Sans', serif;

}

.control {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.control a {
    color: rgb(250, 166, 97);
}

.control a:hover {
    color: rgb(255, 152, 56);
    cursor: pointer;

}
